body, #mainWrapper {
	height: 70%;
	background-color:rgb(245, 245, 245);
}

body, .form-control{
	font-size:12px!important;
}

.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error{
	color:red;
}

.formcontainer{
	background-color: #DAE8E8;
	padding: 20px;
}

.tablecontainer{
	padding-left: 20px;
}

.generic-container {
  width:80%;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;
}

.custom-width {
    width: 80px !important;
}

.portal {
    padding: 0;
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
}

.item {
    cursor: pointer;
    border-bottom: 1px #CCC solid;
    border-left: 1px #CCC solid;
    border-right: 1px #CCC solid;
    margin: 0px;
    padding: 10px;
}

.item:last-child {
    border-bottom: 1px #CCC solid;
}
.active {
    background-color: #add8e6;
}

.faded {
    opacity: 0.3;
}

h2, h1
{
    color: #0b97c4;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #0b97c4;
    color: white;
}